.card-wrapper{
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px var(--colorBar);
    width: 280px;
    min-width: 280px;
    height: 100%;
    border-top: double 4px transparent;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.backlog-color{
    background-image: 
    linear-gradient(#f6f8fc, #f6f8fc), 
    radial-gradient(circle at top left,
    #c781ff, #e57373);
}
.review-color{
    background-image: linear-gradient(#f6f8fc, #f6f8fc),
    radial-gradient(circle at top left, #9ea7fc, #6eb4f7);
}
.in-progress-color{
    background-image: linear-gradient(#f6f8fc, #f6f8fc), 
    radial-gradient(circle at top left, #ff9985, #ffb74e);
}
.complete-color {
    background-image: linear-gradient(#f6f8fc, #f6f8fc), 
    radial-gradient(circle at top left, #81d5ee, #7ed492);
}
.card-wrapper__header{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
    
}
.block-name{
    color: var(--colorName);
    font-size: 20px;
    font-weight: 400;
}
.block-dots{
    color: var(--colorName);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.backlog-dots i {
    width: 20px;
}
.block-dots :hover{
    color: var(--colorLogo);
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper__footer {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
    color: var(--colorBarW);
}
.add-task {
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}
.add-task-ico {
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
}
