
.nav-board{
    display: flex;
}
.nav-name{
    font-size: 28px;
    font-weight: 400;
    color: #707090;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}
.arrow-icon{
    margin-left: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px 0px #d2d7e0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
.arrow-icon i {
    position: absolute;
    color: #d8d8e4;
    font-size: 32px;
    left: -1.5px;
    top: -1px;
 
}
