.kanban-main{
  background-color: #eef2f9;
    grid-area: main;
    position: relative;
}
.kanban__main-wrapper {
  background-color: #eef2f9;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* margin: 0 50px 0 50px; */
}
@media screen and (max-width: 820px){
.kanban__main-wrapper {
    justify-content: space-around;
    margin: 0px;
}
}
.app{
  grid-area: main;
  position: relative;
  background-color: var(--colorNav);
  padding-left: 75px;
}
.kanban__nav {
  background-color: #eef2f9;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.kanban__nav-name{
  display: flex;
}
.kanban-name{
  font-size: 28px;
  font-weight: 400;
  color: #707090;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  
}
.kanban-arrow{
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 0px #d2d7e0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}
.kanban-arrow:hover {
  box-shadow: 0px 0px 10px 0px #38404d;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  color: #d8d8e4;
  font-size: 32px;
  left: -1.5px;
  top: -1px;
  padding-left: 2.5px;
}

@media screen and (max-width: 720px) {
  .kanban__nav-avs {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .kanban__nav-name {
    margin: 0 auto;
  }

  .kanban__nav-wrapper {
    margin: 0;
  }

  .avatar-user {
    margin-right: 0;
  }
}

@media screen and (max-width: 820px) {
  .kanban__main-wrapper {
    justify-content: space-around;
    margin: 0px;
  }
}

@media screen and (max-width: 1380px) {
  .kanban__main-add-btn {
    display: none;
  }
}
