
.kanban {
  display: grid;
  grid-template:
      "logo header" var(--logoHeader)
      "sidebar nav" var(--sidebarNav)
      "sidebar main" auto / minmax(auto, 120px) minmax(290px, 1320px);
}
@media screen and (max-width: 1024px){
.kanban-wrapper {
    padding: 0;
}}
