.kanban__main{
  background-color: var(--colorNav);
    grid-area: main;
    position: relative;
    
}
.kanban__main-wrapper {
  display: flex;
  background-color: var(--colorNav);
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
}
.kanban__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    background-color: var(--colorNav);
}

.app{
  grid-area: main;
  position: relative;
  background-color: var(--colorNav);
  padding-left: 75px;
}
.kanban__nav {
  background-color: var(--colorNav);
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
}
.kanban__nav-name{
  display: flex;
}
.kanban-name{
  font-size: 28px;
  font-weight: 400;
  color: var(--colorName);
}
.kanban-arrow{
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 0px var(--colorBar);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}
.kanban-arrow i {
  position: absolute;
  color: #d8d8e4;
  font-size: 28px;
  left: 3.3px;
  top: -0.5px;
}
.kanban-arrow:hover {
  box-shadow: 0px 0px 10px 0px #8da6d4;
}
.kanban__nav-avs {
  display: flex;
}
/* .kanban__nav-avs :hover{
display: none;
} */
.kanban__nav-avs-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.kanban__nav-avs-img img {
  border-radius: 40px;
}
.kanban__nav-avs :hover .kanban__nav-avs-invite{
  opacity: initial;
}
.kanban__nav-avs :hover .invite-btn :hover{
  box-shadow: 0 12px 16px 0 rgba(114, 140, 255, 0.24),0 17px 50px 0 rgba(121, 119, 255, 0.19);
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.kanban__nav-avs-add {
  border: 1.5px dashed var(--colorBar);
  border-radius: 50px;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  color: var(--colorBar);
}
.kanban__nav-avs-add i{
  padding-left: 8px;
  padding-top: 8px;
}
.kanban__nav-avs-invite {
  position: absolute;
  right: -1px;
  top: -6px;
  height: 60px;
  width: 254px;
  color: var(--colorName);
  font-size: 12px;
  padding: 10px 0 10px 10px;
  background-color: var(--colorNav);
  border-radius: 5px;
  z-index: 1;
  transition: 0.4s;
  opacity: 0;
  
}

.invite-email {
  border: none;
  padding: 10px;
  color: var(--colorName);
  outline: none;
  margin-right: 10px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}
.invite-btn {
  border: none;
  color: var(--colorWhite);
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: linear-gradient(45deg, #9ea7fc 0%, #65b6f7 100%);
  transition: 0.4s;
}
.kanban__nav-avs-invite i {
  font-size: 25px;
  position:absolute;
  top: 7px;
  left: 7.5px;
}
input::placeholder {
  font-style: italic;
  color: #b7bec7;
}

@media screen and (max-width: 540px){
  .kanban__nav-wrapper {
      margin: 0px;
  }
  }
@media screen and (max-width: 540px) {
    .kanban__nav-name {
      margin: 0 auto;
    }
      .kanban__nav-wrapper {
        margin: 0;
      }
    
      .avatar-user {
        margin-right: 0;
      }
    }
    
@media screen and (max-width: 720px) {
  .kanban__nav-avs {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .kanban__main-wrapper {
    justify-content: space-around;
    margin: 0px;
  }
}
@media screen and (max-width: 1380px) {
  .kanban__main-add-btn {
    display: none;
  }
}