
body {
  background: linear-gradient(90deg, #bad6f9 0%, #bccdf2 100%);
  font-family: "Roboto", sans-serif;
  user-select: none;
  --logoHeader: 60px;
  --sidebarNav: 120px;
  --colorLogo: #888fdc;
  --colorBar: #d2d7e0;
  --colorBarW: #b7bec7;
  --colorWhite: white;
  --colorNav: #eef2f9;
  --colorIcon: #a1ffff;
  --colorName: #707090;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

