body {
  background: linear-gradient(90deg, #bad6f9 0%, #bccdf2 100%);
  font-family: "Roboto", sans-serif;
  user-select: none;
}
* {
  padding: 0;
  margin: 0;
}
i{
  font-style: italic;
}
img {
  overflow: clip;
  overflow-clip-margin: content-box;
}
:root {
  --logoHeader: 60px;
  --sidebarNav: 120px;
  --colorLogo: #888fdc;
  --colorBar: #d2d7e0;
  --colorBarW: #b7bec7;
  --colorWhite: white;
  --colorNav: #eef2f9;
  --colorIcon: #a1ffff;
  --colorName: #707090;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) 
     format("woff2");
}
/* .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  color: #d8d8e4;
  /* font-size: 32px; */
  /* left: -1.5px;
  top: -1px; 
} */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}